<!DOCTYPE html>
<html>
	<head>
        <title>BookInfo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="http://bootswatch.com/cyborg/bootstrap.min.css">
    </head>

    <body>
		
		<script src="http://code.jquery.com/jquery.js"></script>
        <script src="//raw.github.com/sjs7007/CodeRunner/master/public/js/bootstrap.min.js"></script>

		<form id="myform" action="/isbnResult" method="post">
	    	ISBN Number : <input type="text" name="isbnNumber" id="isbn" />
	    	<input type="submit" id="mysubmit" />
		</form>
    </body>
</html>

