<!DOCTYPE html>
<html>
	<head>
        <title>BookInfo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="http://bootswatch.com/cyborg/bootstrap.min.css">
    </head>

    <body>
		<script src="http://code.jquery.com/jquery.js"></script>
        <script src="//raw.github.com/sjs7007/CodeRunner/master/public/js/bootstrap.min.js"></script>

		<form id="myform" action="/isbnResult" method="post">
	    	ISBN Number : <input type="text" name="isbnNumber" id="isbn" />
	    	<input type="submit" id="mysubmit" />
		</form>

        <p> Sample ISBN Numbers :-<br>
            Da Vinci Code : 9781409091158 <br>
            Kite Runner : 9781408803721 <br>
            Looking for Alaska : 9780007369683 <br>
            Not a Penny More, Not a Penny Less : 0312997132 <br>
        </p>

    </body>

    <footer class="text-center">
            <p> Author : S.J. Saravanan &bull; Contact information: <a href="mailto:sjs7007@gmail.com"> sjs7007@gmail.com</a> &bull;Contribute to Code : <a href="https://github.com/sjs7007/BookRecos">GitHub Page</a></p>
    </footer>
</html>

