<!DOCTYPE html>
<html>
	<head>
        <title>BookInfo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="http://bootswatch.com/cyborg/bootstrap.min.css">
    </head>

    <body background="back3.jpg" bgcolor="black" link="white" vlink="white" alink="white">
		<a href="https://github.com/sjs7007/BookRecos"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="//raw.github.com/sjs7007/CodeRunner/master/public/js/bootstrap.min.js"></script>

        <font color="#FFFFFF"face="TEMPUS SANS ITC">

        <p> Enter rating of books as space separated values. E.g., to rate books 1 and 3 with rating 4 and 5, enter 1 4 3 5 in the box below.
        </p>

        1.Asylum <br>
        2.fire and blood <br>  
        3.twisted sisters <br>
        4.Moth and Spark <br>
        5.Dangerous Illusions <br> 
        6.The Black-Eyed Blonde <br>
        7.the ghost runner    <br>
        8.Dead silent <br>
        9.before we met <br>
        10.I forgot to remember <br>
        11.Sixth extinction <br>
        12.Wild Things <br>
        13.Alienated <br>
        14.Annhilation <br>
        15.Flight of the silvers <br>
        16.Influx <br>
        17.Tuesdays with Morrie <br>
        18.The alchemist <br>
        19.The fountainhead <br>
        20.Jonathan Livingston Seagull <br>
        21.mahashweta <br>
        22.Illusions <br>
        23.One <br>
        24.The sound of letting go <br>
        25.Sherlock Holmes and the Vampires of London <br>  <br>

        Example Input : 5 2 4 3 2 2 1 1 6 3 7 1 9 1 10 1 11 1 12 1 13 1 14 1 15 1 16 1 17 1 18 1 20 1 21 1

        <br> <br>


        <form id="myform" action="/ratingsInput" method="post">
            Input : 
            <input type="text" name="input" cols="50" rows="5" style="background-color:#FCF5D8;color:#000000;border:3px solid #AD8C08;" />
            <input type="submit" id="mysubmit" style="font-face: 'Comic Sans MS'; font-size: Larger; color: #000000; Background-color: #FCF5D8; border:3px solid #AD8C08" />
        </form>

    </body>

</html>
