<!DOCTYPE html>
<html>
    <head>
        <title>BookInfo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="http://bootswatch.com/cyborg/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Englebert' rel='stylesheet' type='text/css'>

        <style>
        h1, h2, h3, h4, h5, h6 
        {
            font-family: 'Englebert', sans-serif;
        }
        p, div
        {
            font-family: 'Englebert', sans-serif;
            font-size: 150%
        }
        </style>
    <body>
        <font color="#FFFFFF"face="TEMPUS SANS ITC">

        <div>
            <script>
                if (window.XMLHttpRequest)
                {// code for IE7+, Firefox, Chrome, Opera, Safari
                    xmlhttp=new XMLHttpRequest();            }
                else
                {// code for IE6, IE5
                    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                }

                xmlhttp.onload = function() 
                {
                    var xmlDoc = new DOMParser().parseFromString(xmlhttp.responseText,'text/xml');

                    console.log(xmlDoc);

                    document.write("We recommend the following books : -")

                    document.write('<table class="table table-bordered table-striped">');
                    var x=xmlDoc.getElementsByTagName("books");
                    var y=xmlDoc.getElementsByTagName("Name");

                    document.write("<tr><td>");
                    document.write("Title");
                    document.write("</td><td>");
                    document.write("ISBN");
                    document.write("</td></tr>");
                    for (i=0;i<y.length;i++)
                    { 
                        document.write("<tr><td>");
                        document.write(x[0].getElementsByTagName("Name")[i].childNodes[0].nodeValue);
                        document.write("</td><td>");
                        document.write(x[0].getElementsByTagName("ISBN")[i].childNodes[0].nodeValue);
                        document.write("</td></tr>");
                    }
                    
                    document.write("</table>");

                }
                xmlhttp.open("GET","pyCreatedXML.xml",false);
                xmlhttp.send();
            </script>

            <p> Enter ISBN Number in the form below to get more information about that book :- </p>

            <form id="myform" action="/isbnResult" method="post">
                ISBN Number : <input type="text" name="isbnNumber" style="background-color:#FCF5D8;color:#000000;border:3px solid #AD8C08;"/>
                <input type="submit" style="font-face: 'Comic Sans MS'; font-size: Larger; color: #000000; Background-color: #FCF5D8; border:3px solid #AD8C08" />
            </form>

            <script src="http://code.jquery.com/jquery.js"></script>
            <script src="//raw.github.com/sjs7007/CodeRunner/master/public/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>

