
<!DOCTYPE html>
<html>
    <head>
        <title>BookInfo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="http://bootswatch.com/cyborg/bootstrap.min.css">
    </head>

     <body background="back.jpg" bgcolor="black" link="white" vlink="white" alink="white">>
        <br>
    <center><h1><font color="#FCF5D8"face="TEMPUS SANS ITC">Book Reader for life!</h1></center>
        <h4><center><font color="#FCF5D8 "face="TEMPUS SANS ITC">
        &quotBooks are keys to wisdom's treasure;<br>
        Books are gates to lands of pleasure;<br>
        Books are paths that upward lead;<br>
        Books are friends. Come, let us read.&quot<br></h4></center>
        <br>

            <table border="1" align="center" >
            <tr>
            <td> <img src="1.jpg" alt="" border=3 height=120 width=120></a></img>  </td>
            <td><img src="2.jpg" alt="" border=3 height=120 width=120></img>   </td>
            <td><img src="3.jpg" alt="" border=3 height=120 width=120></img>   </td>
            </tr>
            <tr>
            <td><img src="4.jpg" alt="" border=3 height=120 width=120></img></td>
            <td><img src="5.jpg" alt="" border=3 height=120 width=120></img>  </td>
            <td>
            <img src="6.jpg" alt="" border=3 height=120 width=120></a></img>  </td>
            </tr>
            <tr>
            <td><img src="7.jpg" alt="" border=3 height=120 width=120></img>     </td>
            <td>
            <img src="8.jpg" alt="" border=3 height=120 width=120></a></img>  </td>
            <td><img src="9.jpg" alt="" border=3 height=120 width=120></img>     </td>
            </tr>
            </table>
            <br><br>

            <center>
                    <a href="https://github.com/sjs7007/BookRecos">
                        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png">
                    </a>

                    <script src="http://code.jquery.com/jquery.js"></script>
                    <script src="//raw.github.com/sjs7007/CodeRunner/master/public/js/bootstrap.min.js"></script>
        
            <h4><center><font color="#FCF5D8 "face="TEMPUS SANS ITC">
                Sample ISBN Numbers : <br>
                Da Vinci Code : 9781409091158 <br> 
                Kite Runner : 9781408803721 <br>
                Looking for Alaska : 9780007369683 <br>
                Not a Penny More, Not a Penny Less : 0312997132 <br>
            <br></h4></center>
            <center>
                <form id="myform" action="/isbnResult" method="post">
                    Enter ISBN Number : 
                    <input type="text" name="isbnNumber" cols="50" rows="5" style="background-color:#FCF5D8;color:#000000;border:3px solid #AD8C08;" />
                    
                    <input type="submit" id="mysubmit" style="font-face: 'Comic Sans MS'; font-size: Larger; color: #000000; Background-color: #FCF5D8; border:3px solid #AD8C08" />
                </form>

            </center>

       
       </center>

    </body>

</html>


